filelock==3.3.0
Pillow==8.3.2
psutil==5.8.0
pygtail==0.11.1
PySimpleGUI==4.49.0
PySocks==1.7.1
six==1.16.0
tqdm==4.62.3
pandas~=1.3.3
opencv-python~=4.5.3.56
matplotlib~=3.4.3
numpy~=1.21.2
seaborn~=0.11.2
requests~=2.26.0
packaging~=21.0